<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <title>Demo</title>
    <!--Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>
<body class="bg-light">

<div class="container" id="app">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://www.shareicon.net/download/2015/09/20/104335_avatar.svg"
             alt="" height="100px">
        <!--<div id="app0">
            {{message}}
            <li v-for="domain in domainList">
                {{domain}}
            </li>
            <br>
            <div class="row justify-content-center mb-4">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-primary" v-on:click="search">search</button>
                    <button type="button" class="btn btn-outline-primary" v-on:click="scan">scan</button>
                </div>
            </div>
        </div>-->
        <div id="app">
            <button v-on:click="search">search</button>
            <button v-on:click="scan">scan</button>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h3>Домены</h3>
                        <li v-for="domain in domainList">
                            {{domain}}
                        </li>
                    </div>
                    <div class="col-sm">
                        <h3>Шаблоны</h3>
                        <li v-for="(item, index) in checkedTemplates" :key="index">
                            <input type="checkbox" :id="item.name" v-model="item.checked">
                            <label :for="item.name">{{item.name}}</label>
                        </li>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3>Результаты</h3>
                <div v-if="results === 'Нет результатов'">Нет результатов</div>
                <div v-else>
                    <li v-for="result in results">
                        {{result}}
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
          domainList: [],
          templateList: [],
          results: [],
          checkedTemplates: []
        },
        methods: {
            search: function() {
                this.$http.post(`http://127.0.0.1:8080/api/search`, this.domainList).then(resp => {
                    console.log(JSON.stringify(resp.data))
                    this.domainList = resp.data
                }).catch((resp) => {
                    console.log('err:', resp)
                })
            },
            scan: function() {
                console.log('scan')
                scanTemplates = []
                for (var i = 0; i < this.checkedTemplates.length; i++) {
                    if (this.checkedTemplates[i].checked === true) {
                        scanTemplates.push(this.checkedTemplates[i].name)
                    }
                }
                this.$http.post(`http://127.0.0.1:8080/api/scan`, {domains: this.domainList, templates: scanTemplates}).then(resp => {
                    if (resp.status == 200) {
                        console.log(JSON.stringify(resp.data))
                        this.results = resp.data
                    } else if (resp.status == 204) {
                        this.results = "Нет результатов"
                    }
                }).catch((resp) => {
                    console.log('err:', resp)
                })
            }
        },
        created: function() {
            this.$http.get(`http://127.0.0.1:8080/api/getDomains`, this.domainList).then(resp => {
                console.log(JSON.stringify(resp.data))
                this.domainList = resp.data
            }).catch((resp) => {
                console.log('err:', resp)
            })

            this.$http.get(`http://127.0.0.1:8080/api/getTemplates`, this.domainList).then(resp => {
                console.log(JSON.stringify(resp.data))
                this.templateList = resp.data
                for (var i = 0; i < this.templateList.length; i++) {
                    this.checkedTemplates.push({name: this.templateList[i], checked: true})
                }
            }).catch((resp) => {
                console.log('err:', resp)
            })
        }
    })
</script>
</body>
</html>